@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: whitesmoke;
  transition: color 0.4s ease, border-bottom 0.2s ease;
}
a:hover {
  color: #facc15;
  border-bottom: 2px solid #facc15;
  cursor: pointer;
}
span {
    color: #3882F6;
}
img {
    width: 100%;
    border-radius: 2px;
}

/* -----header-section----- */

.header {
  background-color: #1F2937;
  padding: 1rem 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 15rem;
}
.nav-header{
    font-size: 24px;
    color: #F9FAF8;
}

/* ------- hero section ------ */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 15rem;
    background-color: #1F2937;
    gap: 2rem;
    min-height: calc(100vh - 84.36px);
}
.hero-main__text{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.hero-sec__text{
    font-size: 18px;
    color: #E5E7EB;
}
.hero-left {
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 40%;
    gap: 2rem;
}
.cta-button {
  background-color: #3882F6;
  border-radius: 8px;
  border: 2px solid #F9FAF8;
  padding: 8px 16px;
  color: #F9FAF8;
  transition: background-color 0.4s ease-in-out, color 0.2s ease-in-out;
  width: 8rem;
  height: 3rem;
  font-size: 15px;
}
.cta-button:hover {
  background-color: #facc15;
  color: #1F2937;
  cursor: pointer;
}
.hero-right{
    display: flex;
    width: 60%;
}

/* feature section */
.information {
  text-align: center;
}
.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 20rem;
  margin: 2rem 0;
  gap: 2rem;
}
.information h3{
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 4rem 0;
}
.information-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  gap: 2rem;
}
.information-card__image {
  border: 3px solid #3882F6;
  border-radius: 8px;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  padding: 0.75rem 1rem;
}

/* testimonials section */

.testimonial {
  background-color: #E5E7EB;
  padding: 6rem 23.5rem;
}
.testimonial-quote {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.testimonial-paragraph {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
}
.testimonial-author {
  font-size: 20px;
  color: #1F2937;
  text-align: right;
}

/* cta section */
.cta {
  padding: 7rem 15rem;
}
.cta-container {
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 2rem 4rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.cta-header {
  margin-bottom: 1rem;
  color: #F9FAF8;
}
.cta-right{
  margin-top: 0.2rem;
}